@model IEnumerable<WebsiteBanHang.Context.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Đơn Hàng</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Tạo Mới Đơn Hàng</a>
</p>
<table class="table">
    <tr>
        <th>
            Tên Đơn Hàng
            @*Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            Ngày Đặt Hàng
            @*Html.DisplayNameFor(model => model.CreatedOnUtc)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Chỉnh Sửa</a> |
            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-secondary">Chi Tiết</a> |
            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Xóa</a>
        </td>
    </tr>
}

</table>
